In [2]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
import matplotlib.pyplot as plt
import numpy as np
from pathlib import Path
import seaborn as sns
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

In [3]:
#  Import and read the heart.csv.
heart = pd.read_csv("data.csv")
#Replacing strings with numbers for Gender and Exercise Angina
gender = {'M': 1,'F': 0}
heart.Sex = [gender[item] for item in heart.Sex]
ex_angina={'N': 0,'Y': 1}
heart.ExerciseAngina = [ex_angina[item] for item in heart.ExerciseAngina]
heart.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,Normal,172,0,0.0,Up,0
1,49,0,NAP,160,180,0,Normal,156,0,1.0,Flat,1
2,37,1,ATA,130,283,0,ST,98,0,0.0,Up,0
3,48,0,ASY,138,214,0,Normal,108,1,1.5,Flat,1
4,54,1,NAP,150,195,0,Normal,122,0,0.0,Up,0

In [5]:
# Project only necessary Sex and separate target feature for training data
exer_angina_df = heart[['ExerciseAngina', 'HeartDisease']]
exer_angina_df.head(4)

   ExerciseAngina  HeartDisease
0               0             0
1               0             1
2               0             0
3               1             1

In [6]:
def grpby(x):
    z=exer_angina_df.groupby(x)['HeartDisease'].mean().sort_values(ascending=False) 
    return z

In [7]:
#the people with exerse angina, 85% of the patients get heart failure.
grpby('ExerciseAngina')

ExerciseAngina
1    0.851752
0    0.351005
Name: HeartDisease, dtype: float64

In [8]:
#Load dataset and slit the dataframe into data and target["HeartDisease"]
y = exer_angina_df['HeartDisease'].values
X = exer_angina_df.drop('HeartDisease', axis=1)

In [9]:
# split our data into training and data to utilize across all models
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=10)

In [10]:
# creating Train the scaler with the X_train data.
scaler = StandardScaler()
scaler.fit(X_train)

StandardScaler()

In [11]:
#Load dataset and slit the dataframe into data and target["HeartDisease"]
y = exer_angina_df['HeartDisease'].values
X = exer_angina_df.drop('HeartDisease', axis=1)

In [12]:
# Encode the target column with 1s and 0s (both train and test). we are not going to split the data into test and train since it was already performed.
X_test = X_test[X_train.columns]
target_encoder = LabelEncoder().fit(y_train)
y_train = target_encoder.transform(y_train)
y_test=target_encoder.transform(y_test)
y_test

array([1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0], dtype=int64)

In [13]:
# Transform X_train and X_test.
# Note that the scaler used to transform X_train and X_test was trained on X_train.
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [14]:
# Train the scaler with the X_train data.
# Scale the data
scaled_heart= scaler.fit_transform(exer_angina_df)
print(scaled_heart[0:6])

[[-0.8235563  -1.11311472]
 [-0.8235563   0.89837999]
 [-0.8235563  -1.11311472]
 [ 1.21424608  0.89837999]
 [-0.8235563  -1.11311472]
 [-0.8235563  -1.11311472]]

In [15]:
# Standarize data with StandarScaler
exerciseangina_scaled = StandardScaler().fit_transform(exer_angina_df)
print(exer_angina_df[0:5])

   ExerciseAngina  HeartDisease
0               0             0
1               0             1
2               0             0
3               1             1
4               0             0

In [16]:
# Check the shapes to make sure X_train and X_test have the same number of columns (same with y_train/y_test)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(688, 1)
(230, 1)
(688,)
(230,)

In [17]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(solver='lbfgs', random_state=10)
lr.fit(X_train, y_train)
print(lr.score(X_test, y_test))
print(lr.score(X_train, y_train))

0.717391304347826
0.7354651162790697