In [28]:
# Import our dependencies
import pandas as pd
import matplotlib as plt
import matplotlib.pyplot as plt
import numpy as np
from pathlib import Path
import seaborn as sns
from sklearn.datasets import make_blobs
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.model_selection import train_test_split

In [29]:
#  Import and read the heart.csv.
heart = pd.read_csv("data.csv")
#Replacing strings with numbers for Gender and Exercise Angina
gender = {'M': 1,'F': 0}
heart.Sex = [gender[item] for item in heart.Sex]
ex_angina={'N': 0,'Y': 1}
heart.ExerciseAngina = [ex_angina[item] for item in heart.ExerciseAngina]
heart.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,Normal,172,0,0.0,Up,0
1,49,0,NAP,160,180,0,Normal,156,0,1.0,Flat,1
2,37,1,ATA,130,283,0,ST,98,0,0.0,Up,0
3,48,0,ASY,138,214,0,Normal,108,1,1.5,Flat,1
4,54,1,NAP,150,195,0,Normal,122,0,0.0,Up,0

In [30]:
# Project only necessary Sex and separate target feature for training data
sex_df = heart[['Sex', 'HeartDisease']]
sex_df.head(4)

   Sex  HeartDisease
0    1             0
1    0             1
2    1             0
3    0             1

In [31]:
# split our data into training and data to utilize across all models
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=10)

In [17]:
# Train the scaler with the X_train data.
scaler.fit(X_train)

StandardScaler()

In [18]:
#Load dataset and slit the dataframe into data and target["HeartDisease"]
y = sex_df['HeartDisease'].values
X = sex_df.drop('HeartDisease', axis=1)

In [23]:
# Encode the target column with 1s and 0s (both train and test). we are not going to split the data into test and train since it was already performed.
X_test = X_test[X_train.columns]
target_encoder = LabelEncoder().fit(y_train)
y_train = target_encoder.transform(y_train)
y_test=target_encoder.transform(y_test)
y_test

array([1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0], dtype=int64)

In [19]:
# Transform X_train and X_test.
# Note that the scaler used to transform X_train and X_test was trained on X_train.
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [21]:
# Train the scaler with the X_train data.
# Scale the data
scaler = StandardScaler()
scaled_heart= scaler.fit_transform(sex_df)
print(scaled_heart[0:6])

[[ 0.51595242 -1.11311472]
 [-1.93816322  0.89837999]
 [ 0.51595242 -1.11311472]
 [-1.93816322  0.89837999]
 [ 0.51595242 -1.11311472]
 [ 0.51595242 -1.11311472]]

In [12]:
# Standarize data with StandarScaler
sex_scaled = StandardScaler().fit_transform(sex_df)
print(sex_df[0:5])

   Sex  HeartDisease
0    1             0
1    0             1
2    1             0
3    0             1
4    1             0

In [24]:
# Check the shapes to make sure X_train and X_test have the same number of columns (same with y_train/y_test)
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(688, 1)
(230, 1)
(688,)
(230,)

In [27]:
#this is fot the projected 6 columns from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(solver='lbfgs', random_state=10)
lr.fit(X_train, y_train)
print(lr.score(X_test, y_test))
print(lr.score(X_train, y_train))
#61% in test and 67% in train data, it is not a good predictor of the heart failure. AGE alone cannnot determine heart failure.

0.6130434782608696
0.6686046511627907